@value colors: "@/components/commonPalette.module.css";
@value primary-off-white, button-highlight from colors;

.container {
  height: 50vh;
  border-color: button-highlight;
  border-style: solid;
  border-width: 0.2vh;
  border-image: linear-gradient(to bottom, button-highlight, #fdebd7) 1;
  background-color: primary-off-white;
}

.container > p {
  font-size: 1.4vh;
  padding-top: 1vh;
  padding-left: .5vh;
  padding-right: .5vh;
  margin-bottom: 1vh;
  background: linear-gradient(
    to bottom,
    button-highlight 0%,
    primary-off-white 80%,
    primary-off-white 100%
  );
}