.container {
 padding: 1rem;   
}

.container > h3 {
  margin-top: 1vh;
}

.customContainer {
  height: 3vh;
}

.customAppFacet {
  background: linear-gradient(white, #222222);
}

.customContributorFacet {
  background: linear-gradient(#aaaaaa, #222222);
}

.customAppName {
  font-size: 2vh;
}

.customFavIcon {
  height: 2vh;
}

.customSettingsIcon {
  height: 2vh;
  width: 2vh;
}

.displayNone {
  display: none;
}