@value colors: "@/components/commonPalette.module.css";
@value background-alt-content from colors;

.continueText {
  margin-bottom: 2vh;
}

.modelIdText {
  font-size: 1.5vh;
  background-color: background-alt-content;
  border-radius: .5vh;
  padding: .2vh;
  white-space: nowrap;
} 